<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Политехнический Кубач.</title>
    <link rel="icon" href="wwwroot/images/favicon.png" type="image/x-icon">
    <link rel="stylesheet" href="{{ url_for('wwwroot', path='css/style.css') }}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Ubuntu:wght@400;700&display=swap" rel="stylesheet">
</head>

<body>
    <main>
        <div class="blackout-background"></div>
        <div class="container">
            <h1>Здесь вы можете создать запрос <br> на добавление себя в Whitelist.</h1>
            <form class="content" action="/add_whitelist" method="post">
                <div class="block-input">
                    <div>
                        <label for="username_minecaft">Введите ник в Minecraft:</label>
                        <input type="text" id="username_minecaft" name="username_minecaft" required>
                    </div>
                    <div>
                        <label for="username_tg">Введите ник в telegram:</label>
                        <input type="text" id="username_tg" name="username_tg" required>
                    </div>
                </div>
                <button type="submit">Запросить.</button>
            </form>
            <!-- <div id="status">Пройдено!</div> -->
        </div>
    </main>
</body>

</html>